<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] h-full bg-gray-900">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · 17 Galaxies">
      <%= assigns[:page_title] || "Overview" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased h-full">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_player do %>
        <li class="text-[0.8125rem] leading-6 text-white">
          <%= @current_player.email %>
        </li>
        <li>
          <.link
            href={~p"/players/settings"}
            class="text-[0.8125rem] leading-6 text-white font-semibold hover:text-indigo-300"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/players/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-white font-semibold hover:text-indigo-300"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/players/register"}
            class="text-[0.8125rem] leading-6 text-white font-semibold hover:text-indigo-300"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/players/log_in"}
            class="text-[0.8125rem] leading-6 text-white font-semibold hover:text-indigo-300"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    <%= @inner_content %>
  </body>
</html>
